// All browji-specific classes
.desktop-only {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.mobile-only {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

// Buttons
.svg-button {
  vertical-align: text-bottom;
  margin-right: .8rem
}

// Posts

.post > p,
.post ul li {
  @extend .text-intro;
}

.post blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  padding-left: 1.5rem;
  border-left: .3rem solid $color-brandMain;
}

// End post

// Typeface
.text-lobster {
  font-family: "lobster", arial, sans;
}

// White
.text-white {
  color: #FFF;
}

// Custom Input
.okr-input,
.okr-input:hover,
.okr-input:focus,
.okr-input:active {
  text-align: center;
  background: transparent;
  border: none;
  display: inline-block;
  box-shadow: none;
  outline: none;
  letter-spacing: .2rem;
  font-size: 100%;
  text-transform: uppercase;
  width: auto;
  height: 3.2rem;
  padding: 0rem;
  transition: border-bottom .2s ease-in-out;
}

.okr-input {
  border-bottom: 1px solid rgba($color-brandMain, .3);
}
.okr-input:hover,
.okr-input:focus,
.okr-input:active {
  border-bottom: 1px solid $color-brandMain;
}

// Generate Button
.okr-button-wrapper {
/*  TBD  */
  position: relative;
}

.okr-button-loader {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 5.8rem;
  height: 5.8rem;
  border: .6rem solid #FFF;
  border-radius: 50%;
  border-top: .6rem solid #FF7C35;
  transition: all .2s ease-in-out !important;
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  opacity: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.okr-button-loader-loading {
  opacity: 1;
}

.okr-btn {
  color: white !important;
  width: 5.8rem !important;
  height: 5.8rem;
  font-size: 2.5rem;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  border: none !important;
  border-radius: 50%;
  background-color: $color-brandMain !important;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s ease-in-out !important;
}

.okr-btn:hover {
  transform: scale(1.1) !important;
  color: white;
}

// Generated portion
.okr-result-col {
  @extend .aligncenter;
  /*  Copied from _colors.scss  */
  border-left-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent) 1 100%;
  -moz-border-image: -moz-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent) 1 100%;
  /* Center all the crap in this column vertically */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

#okr-gen-result {
  @extend .text-lobster;
  @extemd .text-shadow;
  color: $color-brandMain;
}

// Social Shares
#share {
  a {
    color: white;
    border-radius: 50%;
  }
}