/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

/* Colors */
$color-brandMain: #FF7C35;

.logo {
  display: flex;
  align-items: center;
  float: left;
}

/* Override logo location and width */
.logo a {
  background: url(/static/images/icon-64.png) no-repeat 0 0;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 4.8rem;
}

.logo-text {
  display: inline-block;
  font-family: Lobster, sans-serif;
  font-size: 3.7rem;
  margin-left: 1.2rem;
  line-height: 4.8rem;
  color: $color-brandMain;
}

.cta-button {
  background-color: #d44;
  border: 1px solid #d44;
  &:hover {
    background-color: #d44;
    border: 1px solid #fff;
  }
}

header {
  @extend .bg-black-blue;
  z-index: 2147483646;
  position: fixed;
  border-bottom: .2rem solid $color-brandMain;
}

/* Give room for content beneath the header to fit */
main {
  @media screen and (max-width: 767px) {
    margin-top: 8.5rem;
  }
}

/* Typography update */
html,
body,
input,
select,
textarea {
  font-family: "Raleway", helvetica, arial, sans-serif;
}

/* New background color */
.bg-brand {
  background-color: $color-brandMain;
}
